body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
}

.nav {
    list-style: none;
    text-align: right;
}

.nav li {
    display: inline-block;
    padding-right: 20px;
}

.nav li a {
    text-decoration: none;
    color: black;
}

.nav li a:hover {
    color:#c1c1c1;
}

.content {
    text-align: left;
    padding-left: 150px;
    padding-top: 18%;
    line-height: 7px;
}

.content p {
    letter-spacing: 2px;
}

.content ul {
    list-style: none;
    padding-left: 0px;
}

.content ul li {
    display: inline-block;
    padding-left: 0px;
}

.content ul li a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    letter-spacing: 50px;
}

.content ul li a:hover {
    color: #c1c1c1;
}

.about-content {
    text-align: left;
    padding-left: 100px;
    padding-top: 10%;
    padding-right: 50%;
}

.about-skills {
    padding-right: 50%;
}

.about-skills ul{
    list-style: none;
    padding-left: 0px;
}

.about-interests ul{
    list-style: none;
}

